<div class="color border-right p-4 text-center" id="sidebar">
  <h5 class="text-center textos">Asociación Internacional de Yoga Yoguismo</h5>
  <h6 class="text-center textos">AIYY</h6>
  <img src="assets/extra/yoga.png" alt="yoga" style="max-width: 150px;" class="animate__animated animate__pulse animate__infinite">
  <hr class="textos">
  <h4 class="textos pt-2">Men&uacute;</h4>

  <ul class="list-group p-2">
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }">
      Pantalla Principal
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="list">
      Lista
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="translate">
      Traducción
    </li>
  </ul>

  <h4 class="textos pt-2">Filtro</h4>
  <ul class="list-group p-2">
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="english">
      Ingl&eacute;s
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="spanish">
      Espa&ntilde;ol
    </li>
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="sanskrit">
      S&aacute;nscrito
    </li>
  </ul>
</div>


